# The DB has been setup correctly at once using the Vercel wizzard pannel, like:
# - Supabase (Postgres)
# - region: Washington D.C.
# - env: .env.local
# NOTE: the info at .env file located at source folder has not  been pushed to github because of security reasons

# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth
